export VERTEX_PROXY_CREDENTIALS_PATH="/Users/healmiy/KB/Private/PnC/ServiceAcct(Aigent)for-VertexProxy.json"
export VERTEX_PROXY_GEMINI_REGION="global"
export VERTEX_PROXY_ANTHROPIC_REGION="global"
export VERTEX_PROXY_MAAS_REGION="global"

